<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Youku-parse</title>

    <script src="lib/angular.min.js"></script>
    <script src="youku.angular.js"></script>

    <style type="text/css">
      html,body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      body {
        text-align: center;
        padding: 0;

      }

      video {
        display: block;
        margin: 0 auto;
      }
    </style>

    <script type="text/javascript">
      angular.module('demo',['windht.Youku'])
      .controller('demoCtrl',function ($scope,$rootScope){
        $scope.id="XOTY1MjQ2OTc2";
        $scope.update=function(){
          $rootScope.$broadcast('$video.update',$scope.id);
        }
      })
    </script>

  </head>

  <body ng-app="demo" ng-controller="demoCtrl">
    请输入视频id：<input type="text" ng-model="id">
    <button ng-click="update()">刷新视频</button>
    <video youku controls></video>
  </body>
</html>
